<!DOCTYPE html>
<html>
<head>
    <title>Panel de Parqueo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="panel-container">
        <h2 class="panel">Panel de Administración</h2>
        <a href="/logout">Cerrar sesión</a>
    </div>
    <div class="espacios-container">
        {% for espacio in parqueos %}
            <div class=" espacio-item {{ espacio.estado }}">
                <span><strong>Espacio {{ espacio.id }}</strong></span>
                <span>{{ espacio.estado }}</span>
                 <a href="/toggle/{{ espacio.id }}" class="cambiar-link">Cambiar estado</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
